@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(218, 218, 218);
}

.heading {
  text-align: center;
  color: #00cc99;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
  padding: 10px;
}

.card-container .card {
  border: 2px solid #00cc99;
  box-shadow: 5px 5px #00cc99;
  text-align: center;
  padding: 10px;
}

.card-container .card .card-icon {
  color: #00cc99;
  font-size: 21px;
  margin: 10px 0px;
}
